body {
	text-align: center;
	background-color: #EDF2F4;
	font-family: Times-New-Roman;
	color: #08080C;
}

h1,h2 {
	color: #D80032;
}

.un img {
	height: 175px;
	border-radius: 10%;
}

.un, .deux, .trois, .quatre {
	background-color: white;
	margin: 30px 300px;
	border-radius: 5px;
	padding: 10px 0px;
}

.quatre img {
	height: 50px;
	padding: 10px;
}

.quatre a:hover {
	opacity: 70%;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}